@model CustomersOrders.Data.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
}

<link href="~/css/Stylee.css" rel="stylesheet" />
<body>
    <div class="wrapper">
	<div class="inner">
        <img src="~/images/image-1.png" alt="" class="image-1 d-none d-lg-block">
        @*Login Form*@
        <form asp-action="Login">
            <h3>Welcome Back!</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-5">
                    <i class="bi bi-envelope mx-1"></i>
                    <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <i class="bi bi-shield-lock mx-1"></i>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-info my-2" />
            </div>
        </form>
        <img src="~/images/image-2.png" alt="" class="image-2 d-none d-lg-block">
	</div>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
