@model CustomersOrders.Data.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}
<link href="~/css/Stylee.css" rel="stylesheet" />

<body>
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <p>Sorry!- @TempData["Error"] </p>
        </div>
    }
    <div class="wrapper">
        <div class="inner">
            @*Register Form*@
            <form asp-action="Register">
                <h3>New Account?</h3>
                <div class="form-group">
                    <i class="bi bi-person"></i>
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="bi bi-envelope mx-1"></i>
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="bi bi-shield-lock mx-1"></i>
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="bi bi-shield-lock mx-1"></i>
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-outline-info my-3" />
                </div>
            </form>
            <img src="~/images/image-2.png" alt="" class="image-2 d-none d-lg-block">
        </div>

    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
